@import "../../../../variables/variables";
.HomePage {
  //background-position: center;
  //background-attachment: fixed;
  //background-repeat: no-repeat;
  //min-height: 50vh;
  background-color: rgba(0,0,0,.1);
  .Wilmersdorfer{
     width:100%;
     //opacity:30%;
    z-index: 0;
  }
}